:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  
  background: #000000;
  background: linear-gradient(180deg,rgba(119, 119, 119, 1) 60%, rgba(156, 22, 22, 1) 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glow {
    filter:drop-shadow(0 0 0.5rem #dda5a5)
}

@import "tailwindcss";

@theme {
  --color-francis-red: #990000;
  --color-francis-grey: #777777;
}